body {
  background-color: rgb(109, 221, 255);
}
.card-header {
  font-size: x-large !important;
  text-align: center;
  text-shadow: 2px 2px #000000;
}

.card-body {
  text-align: center;
  background-color: rgb(136, 136, 136);
}

.card {
  background-color: rgb(116, 223, 223);
  box-shadow: 5px 5px #0000009c;

  display: flex;
  align-content: center;
}

.container {
  width: 1200px !important;
  height: 550px !important;
}
