body {
  background-color: lightgray;
}
.card-header {
  font-size: x-large !important;
  text-align: center;
  text-shadow: 2px 2px #000000;
}

.card-body {
  text-align: center;
  background-color: rgb(103, 103, 103);
}

.card {
  background-color: rgb(116, 223, 223);
  box-shadow: 5px 5px #0000009c;
  color: white;
  display: flex;
  align-content: center;
}

outer-card {
  background-color: white;
}
