body {
  background-color: rgb(176, 237, 255);
}
.card-header {
  font-size: x-large !important;
  text-align: center;
  text-shadow: 2px 2px #000000;
  background-color: rgb(116, 223, 223);
}

.card-body {
  text-align: center;
  background-color: rgb(136, 136, 136);
}

.card {
  background-color: rgb(116, 223, 223);
  box-shadow: 5px 5px #0000009c;
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(70, 252, 250, 1) 100%
  );

  display: flex;
  align-content: center;
}

.container {
  width: 1200px !important;
  height: 550px !important;
}

#balanceField {
  text-shadow: 2px 2px #000000;
}

#loginField {
  text-shadow: 2px 2px #000000;
}

#myTable {
  background-color: rgba(255, 255, 255, 0.228);
}
